<a href="https://colab.research.google.com/github/Rogerio-mack/IA_2022S2/blob/main/Aula5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Exercício 1

Fazer um modelo de Regressão Linear para estimar `petal_length` a partir dos demais valores numéricos. Obter o R2 do modelo.

# Exercício 2

Fazer um modelo de Regressão Logística para classificação das `species`. Obter a acuracidade do modelo.

# Modelo

---

In [3]:
df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/MASS/Cars93.csv', index_col=0)
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [ ]:
from sklearn.linear_model import LogisticRegression

# Entradas e Saídas
X = df[['Price', 
       'MPG.city', 'MPG.highway', 
       'EngineSize', 'Horsepower', 'RPM']]
y = df['DriveTrain']

# Definição
clf = LogisticRegression()

# Treinamento
clf.fit(X,y)

# Avaliação
y_pred = clf.predict(X)

# Acuracidade
print(sum(y_pred == y) / len(y))

0.7526881720430108

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
y_pred == y

1      True
2      True
3      True
4      True
5     False
      ...
89     True
90     True
91     True
92    False
93     True
Name: DriveTrain, Length: 93, dtype: bool

$$Price = a_0 + a_1 MPG.city + a_2 MPG.highway + a_3 EngineSize + a_4 Horsepower + a_5 RPM $$

In [ ]:
from sklearn import linear_model
# Entradas e Saídas
X = df[['MPG.city', 'MPG.highway', 
       'EngineSize', 'Horsepower', 'RPM']]
y = df['Price']

# Definição
reg = linear_model.LinearRegression()

# Treinamento
reg.fit(X,y)

# Avaliação
y_pred = reg.predict(X)

y_pred

array([18.75855548, 27.80680613, 23.87889942, 23.93303586, 27.86148748,
       14.76141032, 23.25934122, 25.30831633, 23.43661024, 27.7226036 ,
       40.47743379, 13.7126559 , 14.06719394, 21.82670009, 15.1700848 ,
       24.19982276, 24.05019086, 23.73800274, 40.89749719, 21.13552026,
       19.26804267, 20.53204028, 11.90664299, 12.74472314, 14.10570885,
       20.96084889, 14.15984529, 40.84819201, 11.90664299, 29.12600339,
        7.67983829, 17.46989597, 13.32110145, 14.26681654, 15.5414435 ,
       21.54954764, 18.81651652, 26.14251537,  3.04835049, 10.85288104,
       21.26368981, 10.13033833, 18.62258416, 10.31310268, 17.12459676,
       11.71593112, 18.13754553, 38.77346865, 25.91855351, 31.49262684,
       22.29479454, 28.84091752,  9.55659977, 12.69431012, 21.0955912 ,
       22.02726332, 34.84612998, 17.74809211, 29.91344545, 14.41234478,
       19.409963  , 11.90664299, 28.39195533, 14.21538321, 20.11261776,
       21.67209444, 22.22399476, 20.70632404, 14.70727388, 24.19982276,
       23.25934122, 12.43506613,  7.95688472, 14.66555386, 21.82670009,
       27.24446038, 23.25934122, 19.86092804,  9.87736059,  8.34714342,
       12.15074086, 17.58294506,  6.75457035,  9.45148697, 17.6774999 ,
       17.736194  , 20.09586554, 10.59222847, 16.46671049, 18.23607225,
       25.04430283, 15.95478818, 23.20605131])

In [ ]:
y_pred.mean()

19.509677419354837

In [ ]:
df.Price.mean()

19.50967741935484