<a href="https://colab.research.google.com/github/Rogerio-mack/IA_2022S2/blob/main/mlp_penguins_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg"  width=300, align="right">

# Lab Multi Layer Perceptron

Neste exercício você vai empregar redes MLP do `scikit-learn` para resolver problemas de classificação e regressão sobre a base de dados `penguins`.  Siga os passos e, a seguir, responda o questionário no Moodle.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Dados

In [ ]:
df = sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

# Dropna

Verifique e exclua os dados ausentes.

In [ ]:
# Seu código

# Hot Encode

Faça o hot enconde de `species` empregando:

```
from sklearn.preprocessing import OneHotEncoder
```

In [1]:
# Seu código

# Label Encode

Faça o Label Encode de `sex` empregando a função `replace()` do `Pandas`. Atribua `1` para `Male` e `0` para `Female`.

In [ ]:
# Seu código

# Normalização

Empregue:

```
from sklearn.preprocessing import MinMaxScaler
```

Para fazer a normalização dos dados:

```
['bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'species_Adelie',
       'species_Chinstrap', 'species_Gentoo', 'sex']
```

Não empregaremos `body_mass_g` nem `island` que são atributos objetivo das seções seguintes. O nome dos atributos ainda pode diferir de acordo com as transformações anteriores que você fez.

In [ ]:
# Seu código

# Classificação

Empregue os atributos normalizados da seção anterior como variáveis preditoras para implemente um algoritmo MLP para classificação da ilha (`island`) de origem dos pinguins. 

1. Train/Test Split. Empregue 25% dos dados para teste, `random_state=1` e dados estratificados pelo atributo classe (variável objetivo).
2. MLP. Empregue `random_state=1`, uma rede com camadas ocultas de 8, 16 e 8 neurônios respectivamente e número máximo de iterações 1000.

Não empregue outros parâmetros além dos solicitados. 

Ao final produza um `classification report`  e a matriz de confusão para responder as questões.

In [ ]:
# Seu código

# Non-Linear Regression

Empregue os atributos normalizados da seção anterior como variáveis preditoras para implemente um algoritmo MLP para estimar o valor de `body_mass_g` (você não vai empregar o atributo `island` aqui). 

1. Train/Test Split. Empregue 25% dos dados para teste, `random_state=1` (para regressão não empregue dados estratificados).
2. MLP. Empregue `random_state=1`, uma rede com camadas ocultas de 8, 16 e 8 neurônios respectivamente e número máximo de iterações 2000.

Não empregue outros parâmetros além dos solicitados. 

Ao final obtenha o score do modelo obtido.

In [ ]:
# Seu código

# Predição

Empregue os modelos anteriores para fazer a predição de um pinguim modelo da espécie `Gentoo` do sexo masculino. Os demais valores são os valores médios da coleção toda. Faça a predição tanto da ilha de origem como do peso do pinguim modelo.

In [ ]:
# Seu código

# Experimente os Modelos Neurais

Explore diferentes configurações da rede neural para classificação, por exemplo, aumentando e diminuindo camadas e elementos das camadas.

In [ ]:
# Seu código