<a href="https://colab.research.google.com/github/Rogerio-mack/IA_2022S2/blob/main/SUB_IA_2022S2_7G.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# SUB IA

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Classificação de Tipos de Vidro 

Vidros de podem ser classificados 7 categorias conforme suas características químicas:

* Classe 1: janelas de construção (processadas com flutuação)
* Classe 2: janelas de construção (processadas sem flutuação)
* Classe 3: janelas do veículo (processadas com flutuação)
* Classe 4: janelas do veículo (processadas sem flutuação)
* Classe 5: recipientes
* Classe 6: talheres
* Classe 7: faróis 

(*algumas classes podem não estar presentes no data-set*).

In [4]:
df = pd.read_csv('https://github.com/Rogerio-mack/IA_2022S2/raw/main/glasses.txt')
df.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,1,1.52101,13.64,D,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,D,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,C,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,D,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,D,1.24,73.08,0.55,8.07,0.0,0.0,1

# Exercício 1 (`Keras/TensorFlow`) 

Aqui interessa podermos classificar os vidros para efeito de reciclagem em 3 categorias:

* **C = Vidros de Construção**
* **V = Vidros de Veículos**
* **O = Outros**

Explore e analise os dados e, em seguida, crie um modelo de **Classificação com o Keras/TensorFlow** que apresente um resultado de acuracidade > 0.8. Aplique aqui as boas práticas que achar necessário (encodes, normalização etc.). As seções abaixo são apenas de sugestão.

## Reclassifique os dados

Reclassifique `Type of glass` para os valores 'C', 'V' e 'O'. Sugestão: empregue o `Pandas` `replace()`.

In [5]:
# seu código

## Hot Encode

Faça o Hot Encode dos atributos necessários.

In [ ]:
# seu código
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

## Defina as Entradas e Saída do modelo

In [7]:
# seu código
X = ...
y = ...

## Faça a normalização dos dados

In [8]:
# seu código
from sklearn.preprocessing import StandardScaler

## Separe o conjunto de Treinamento e Teste

In [9]:
# seu código
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(...

## Treine seu modelo neural Keras/TensorFlow

In [ ]:
# seu código
from tensorflow import keras
from tensorflow.keras import layers
from keras import Sequential, layers
import tensorflow as tf

# Net config 
model = ...

# Train config
model.compile(...

# Treinamento
history = model.fit(...)

## Exiba a estrutura do modelo

In [ ]:
# resolvido
model.summary()

## Avalie o `score` do modelo sobre o conjunto de teste

In [ ]:
# seu código
score = model.evaluate(...

# Exercício 2 (`AgglomerativeClustering`)

Aqui você vai criar agrupamentos dos vidros considerando os dados `X` do exercício anterior. Caso você tenha *pulado* o exercício anterior, vai empregar apenas os dados da composição dos diferentes tipos de vidro normalizada. Empregue a **clusterização hierárquica**.

## (2a) Encontre o melhor número de Clusters pelo critério da medida *silhouette*.

In [ ]:
# seu código
from sklearn.cluster import AgglomerativeClustering
from sklearn import metrics

## (2b) Faça a clusterização pelo número de clusters obtido em (2a)

In [18]:
# seu código
...

clf.fit(X)
  
df['labels'] = clf.labels_

## (2c) Qual a quantidade de elementos em cada grupo? Responda em um texto abaixo: Você considera boa essa distribuição? Justifique.

In [ ]:
# seu código
...

*Coloque aqui sua resposta à pergunta*

## (2d) Qual o grupo em que o vidro apresenta maior concentração de ferro.

In [ ]:
# seu código
...